
<!-- Site footer -->
<footer>
	
	<a class="subscribe" href="{{@blog.url}}rss/">
		<span>
			Subscribe!
		</span>
	</a>
	<section class="copyright">
		All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.
	</section>
	<section class="poweredby">
		Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a>
	</section>
	
</footer>

<!-- Custom javascript here -->
<script src="/assets/js/index.js"></script>