

/* ----------------------------------------------------------------
 * 
 * Lightgrid css by shash7
 * Created under the MIT license
 * Version 1.5.1
 * Project on github https://github.com/shash7/lightgrid
 * 
 * Menu :
 *  header
 * 	content
 * 
 * ----------------------------------------------------------------
 */


/* ----------------------------------------------------------------
 * $header
 * ----------------------------------------------------------------
 */
header {
	width:100%;
}

.header-nav {
	width:65%;
	margin:0 auto;
	padding:32px 0;
}

.header-nav:after {
	content: '';
	display:block;
	clear:both;
}

.header-title {
	float:left;
	margin:0;
}


/* ----------------------------------------------------------------
 * $content
 * ----------------------------------------------------------------
 */
.content {
	width:65%;
	margin:0 auto;
}


/* ----------------------------------------------------------------
 * $footer
 * ----------------------------------------------------------------
 */
footer {
	width: 65%;
	margin:0 auto;
}